!!!
%html
  %head
    %title 
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    %script(type='application/x-suppress')
  %body(style="padding-top: 40px; background: blue")
    .container(style="text-align: center; color: red")
      %h1
        Welcome to my Gallery!
      %marquee(behavior="scroll" direction="left")
        %img(src="/img/image1.png")
        %img(src="/img/image2.png")
        %img(src="/img/image3.png")
        %img(src="/img/image4.png")
        %img(src="/img/image5.png")
        %img(src="/img/image6.png")
        %img(src="/img/image7.png")
        %img(src="/img/image8.png")
        %img(src="/img/image9.png")
        %img(src="/img/image10.png")
      %audio(controls loop autoplay style="display: none")
        %source(src="/audio/song.mp3" type="audio/mpeg")

    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"